---
import { OButton } from '@oruga-ui/oruga-next'
export interface Props {
  label: string;
  placeholder: string;
  buttonText: string;
  description: string;
  inputId: string;
}

const { label, placeholder, buttonText, description, inputId } = Astro.props;
---
<form action="#" class="">
  <div class="flex items-center mb-3">
      <div class="relative w-auto mr-3">
          <label for={inputId} class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{label}</label>
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
          </div>
          <input class="block md:w-96 w-full p-3 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder={placeholder} type="email" name="member[email]" id={inputId} required="">
      </div>
      <div>
          <OButton type="submit" name="member_submit" client:only="vue">{buttonText}</OButton>
      </div>
  </div>
  <div class="text-sm text-left text-gray-500 dark:text-gray-300">{description}</div>
</form>