---
import Icon from '@components/DynamicHeroIcon.vue';
import Progress from './progress.vue';
import { CourseParams } from '@models/courses';
type Props = {
  collection: string;
  title: string;
  params: CourseParams;
  courseSize: number;
};

const { collection, title, params, courseSize } = Astro.props;
const href = `${import.meta.env.BASE_URL}/${collection}/${params.course}/`;
---

<div class='bg-gray-100 w-full border-b-2 border-indigo-400'>
  <div class='container mx-auto py-6 px-8'>
    <h3>
      <a href={href} class='flex gap-x-3 hover:text-indigo-400'>
        <Icon name={'ArrowLeftIcon'} outline={false} client:only='vue' classes='w-6 h-6 ' />
        <span>{title}</span>
      </a>
    </h3>

    <Progress client:only='vue' slug={params.slug} course={params.course} courseSize={courseSize} />
  </div>
</div>
