---
import Icon from '@components/DynamicHeroIcon.vue';
import Progress from './progress.vue';
import { CourseParams } from '@models/courses';
type Props = {
  collection: string;
  title: string;
  params: CourseParams;
  courseSize: number;
};

const { collection, title, params, courseSize } = Astro.props;
const href = `${import.meta.env.BASE_URL}${collection}/${params.course}/`;
---

<div class=''>
  <div class='max-w-[46.8rem] lg:max-w-[50.9rem] mx-auto px-2 lg:px-0 pb-8 pt-10'>
    <Progress client:only='vue' slug={params.slug} course={params.course} courseSize={courseSize} href={href} title={title} />
  </div>
</div>
