---
import { CourseDataProps, CourseProps } from '@models/courses';
import IconTypes from './IconType.vue';
interface Props extends CourseProps {
  index: number;
  params?: {
    course: string;
    slug: string;
  };
}
const { course, index, params } = Astro.props;
const { title } = course?.data as CourseDataProps;
const href = `${import.meta.env.BASE_URL}${course.collection}/${course.slug}/`;
const isInProgress = params ? course.slug === `${params?.course}/${params?.slug}` : false;
---

<li class='flex items-center space-x-3'>
  <IconTypes client:only='vue' index={index + 1} isInProgress={isInProgress} slug={course.slug} />
  <h4 class='my-0 flex-1'>
    <a href={href} class='line-clamp-1 block'>
      {title}
    </a>
  </h4>
</li>
