---
import Newsletter from '@components/Block/Newsletter.vue';
import NoTag from '@components/NoTag.astro';
import Brand from './Brand.astro';
---

<footer class='py-4 sm:pt-14 sm:pb-6'>
  <div class='mx-auto container'>
    <div class='md:flex md:justify-between'>
      <div class='mb-6 md:mb-0'>
        <Brand size='lg' />
      </div>
      <div class='px-0 md:px-8 mb-16 md:mb-0'>
        <Newsletter label='Email address' placeholder='Enter your email' buttonText='Notify me' inputId='email-newsletter-footer' client:only='vue'>
          <NoTag slot='description'>We’ll notify you when our first course is ready. First course starting in 2023.</NoTag>
        </Newsletter>
      </div>
      <div class='grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3'>
        <div>
          <h2 class='mb-6 text-sm font-semibold uppercase'>Resources</h2>
          <ul class='text-text-muted'>
            <li class='mb-4'>
              <a href=`${import.meta.env.BASE_URL}manifesto/` class='hover:underline'>Manifesto</a>
            </li>
            <li class='mb-4'>
              <a href=`${import.meta.env.BASE_URL}code-conduct/` class='hover:underline'>Code of conduct</a>
            </li>
            <li>
              <a href=`${import.meta.env.BASE_URL}contact/` class='hover:underline'>Get in touch</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class='mb-6 text-sm font-semibold uppercase'>Follow us</h2>
          <ul class='text-text-muted'>
            <li class='mb-4'>
              <a href='https://github.com/themesberg/flowbite' target='_blank' class='hover:underline'>Instagram</a>
            </li>
            <li>
              <a href='https://discord.gg/4eeurUVvTy' target='_blank' class='hover:underline'>Twitter</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class='mb-6 text-sm font-semibold uppercase'>Legal</h2>
          <ul class='text-text-muted'>
            <li class='mb-4'>
              <a href=`${import.meta.env.BASE_URL}privacy-policy/` class='hover:underline'>Privacy Policy</a>
            </li>
            <li class='mb-4'>
              <a href=`${import.meta.env.BASE_URL}terms-and-conditions/` class='hover:underline'>Terms &amp; Conditions</a>
            </li>
            <li>
              <a href=`${import.meta.env.BASE_URL}licence/` class='hover:underline'>Licence</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class='my-6 border-border-input sm:mx-auto lg:my-8' />
    <div class='sm:flex sm:items-center sm:center content-center justify-center'>
      <span class='text-sm text-text-muted sm:text-center'>© {import.meta.env.PUBLIC_SITE_NAME || process.env.PUBLIC_SITE_NAME} - made with ❤️ and plenty of 🍵 in 🗾🇯🇵</span>
    </div>
  </div>
</footer>
