---
import Newsletter from '@components/Block/Newsletter.vue';
import NoTag from '@components/NoTag.astro';
import Brand from './Brand.astro';
import { locales } from '@constants/localize';
const { common, footer: localFooter } = locales;
---

<footer class='py-4 sm:pt-14 sm:pb-6'>
  <div class='mx-auto container'>
    <div class='md:flex md:justify-between'>
      <div class='mb-6 md:mb-0'>
        <Brand size='lg' />
      </div>
      <div class='px-0 md:px-8 mb-16 md:mb-0'>
        <Newsletter label='Email address' placeholder='Enter your email' buttonText='Notify me' inputId='email-newsletter-footer' client:only='vue'>
          <NoTag slot='description'>We’ll notify you when our first course is ready. First course starting in 2023.</NoTag>
        </Newsletter>
      </div>
      <div class='grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3'>
        <div>
          <h2 class='mb-6 text-sm font-semibold uppercase'>{localFooter.menu_title_1}</h2>
          <ul class='text-text-muted'>
            {
              localFooter.menu_1.map((m) => (
                <li class='mb-4'>
                  <a href={`${!m.external ? import.meta.env.BASE_URL : ''}` + m.link} target={m.external ? '_blank' : '_self'} class='hover:underline'>
                    {m.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>

        {
          localFooter.menu_2.length > 0 && (
            <div>
              <h2 class='mb-6 text-sm font-semibold uppercase'>{localFooter.menu_title_2}</h2>
              <ul class='text-text-muted'>
                {localFooter.menu_2.map((m) => (
                  <li class='mb-4'>
                    <a href={`${!m.external ? import.meta.env.BASE_URL : ''}` + m.link} target={m.external ? '_blank' : '_self'} class='hover:underline'>
                      {m.label}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }
        <div>
          <h2 class='mb-6 text-sm font-semibold uppercase'>{localFooter.menu_title_3}</h2>
          <ul class='text-text-muted'>
            {
              localFooter.menu_3.map((m) => (
                <li class='mb-4'>
                  <a href={`${!m.external ? import.meta.env.BASE_URL : ''}` + m.link} target={m.external ? '_blank' : '_self'} class='hover:underline'>
                    {m.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <hr class='my-6 border-border-input sm:mx-auto lg:my-8' />
    <div class='sm:flex sm:items-center sm:center content-center justify-center'>
      <span class='text-sm text-text-muted sm:text-center'>© {import.meta.env.PUBLIC_SITE_NAME || process.env.PUBLIC_SITE_NAME} {localFooter.tagLine}</span>
    </div>
  </div>
</footer>
