---
import { Collection, CourseDataProps, CourseProps, CourseRender } from '@models/courses';
import { CollectionEntry } from 'astro:content';

interface Props extends CourseProps {}
const { href, course } = Astro.props;
const { title, description } = course?.data as CourseDataProps;
const { remarkPluginFrontmatter } = (await course.render()) as CourseRender;

// console.log('remarkPluginFrontmatter', remarkPluginFrontmatter);
---

<li>
  <a href={`${import.meta.env.BASE_URL}${href}`} class="link h-full group bg-background-base flex px-6 py-4 rounded no-underline transition-colors border border-border-input hover:bg-primary hover:border-primary">
    <div class="flex-1">
      <h2 class='transition-colors m-0 text-2xl lg:text-3xl text-link group-hover:text-white leading-6 lg:leading-7 mt-1 font-extrabold'>{title}</h2>
      <span class="transition-colors text-text-muted text-sm group-hover:text-white block mb-2"> 
        {remarkPluginFrontmatter?.minutesRead?.text && remarkPluginFrontmatter?.minutesRead?.text} 
        {
          remarkPluginFrontmatter?.section && (
            <span>
              <span> - </span> Section : {remarkPluginFrontmatter?.section}
            </span>
          )
        }
      </span>
      <p class='transition-colors text-text-base m-0 group-hover:text-white leading-6'>
        {description}
      </p>
    </div>
    <span class="transition-colors pl-8 text-3xl group-hover:text-white">&rarr;</span>
  </a>
</li>
