---
import { coursePager, getAllCollectionLessons } from '@api/courses';
import '@styles/global.css';

export async function getStaticPaths() {
  const courses = await getAllCollectionLessons('courses');

  return courses.map((entry) => {
    const directories = entry.slug.split('/');
    const course = [...directories].shift();
    const slug = [...directories].pop();

    return {
      params: { course, slug },
      props: { entry }
    };
  });
}

const { course, slug } = Astro.params;

const { nextEntry, prevEntry } = await coursePager(course as string, slug as string);

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Content />

<div class='p-4 md:flex md:items-center md:justify-between md:p-6'>
  {
    prevEntry && (
      <a href={`${import.meta.env.BASE_URL}${prevEntry.collection}/${prevEntry.slug}`}>
        {`< ${prevEntry.data.title}`}
      </a>
    )
  }
  <br />
  {
    nextEntry && (
      <a href={`${import.meta.env.BASE_URL}${nextEntry.collection}/${nextEntry.slug}`}>
        {`${nextEntry.data.title} >`}
      </a>
    )
  }
</div>
