---
import Pagelayout from '@Pagelayout';
import Card from '@components/Card.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const paramsList: any[] = [];

  try {
    const response = await fetch(import.meta.env.COURSES_ENDPOINT);
    const data = await response.json();

    Object.keys(data).forEach((key) => {
      paramsList.push({ params: { course: key }, props: { slugs: data[key] } });
    });
  } catch (error) {}

  return paramsList;
}
const { course } = Astro.params;

const courses = await getCollection('courses', ({ id }) => {
  // Return all entries in `src/content/docs/en/`
  return id.startsWith(`${course}/`);
});
---

<Pagelayout title='All vuejs courses'>
  <h1 class='mb-4'>hi, this page lists "{course}" collection</h1>

  {
    courses.map((course) => (
      <Card
        href={`/${course.collection}/${course.slug}`}
        title={course.data.title}
        body={course.data.description}
      />
    ))
  }
</Pagelayout>
