---
import BaseLayout from './BaseLayout.astro';
import TOC from '@components/TOC/index.astro';
import { Picture } from '@astrojs/image/components';

const { title, frontmatter, headings } = Astro.props;
const pageTitle = title || frontmatter?.title;
const props = frontmatter || Astro.props;
const description = frontmatter?.description;
const preview = `/img/${frontmatter?.preview}`;
const previewRatio = frontmatter?.previewRatio;
const showTOC = frontmatter?.showTOC !== undefined ? frontmatter.showTOC : true;
const hasHeader = frontmatter?.hasHeader !== undefined ? frontmatter.hasHeader : false;
---

<BaseLayout {...props}>
  <main class:list={[ {'lg:space-y-10': !hasHeader} ]}>
    {
      hasHeader && (
        <>
          <header class="w-full h-[360px] md:h-[460px] xl:h-[537px] relative">
            {previewRatio && <Picture class='absolute top-0 left-0 w-full h-full w-full object-cover -z-1' src={preview} alt='' widths={[360, 720, 1024, 1280, 1500, 2000]} aspectRatio={previewRatio}></Picture>}
            <div class='absolute top-0 left-0 w-full h-full bg-black bg-opacity-50' />
            <div class='absolute top-20 left-1/2 px-4 mx-auto w-full max-w-screen-xl -translate-x-1/2 xl:top-1/2 xl:-translate-y-1/2 xl:px-0'>
              <h1 class='mb-4 max-w-4xl text-2xl font-extrabold leading-none text-white sm:text-3xl lg:text-4xl'>{pageTitle}</h1>
              <p class='text-lg font-normal text-gray-300'>{description}</p>
            </div>
          </header>
          <div class='flex relative z-20 justify-between p-6 -mt-36 mb-8 mx-4 max-w-screen-xl bg-background-base rounded xl:-mt-32 xl:p-9 xl:mx-auto'>
            <div class='article flex-1 max-w-none prose prose-lg'>
              <slot />
            </div>
            {showTOC && (
              <div class='hidden lg:block w-[340px] pl-10'>
                <TOC pageHeadings={headings} maxDepth={2} classes='sticky top-[20px] bg-background-base w-full' />
              </div>
            )}
          </div>
        </>
      )
    }
    {!hasHeader && <slot />}
  </main>
</BaseLayout>
