---
import BaseLayout from './BaseLayout.astro';
import Quiz from '@components/Quiz/Question.vue';

const { title, frontmatter } = Astro.props;
const pageTitle = title || frontmatter?.title;
const props = Astro.props?.frontmatter || Astro.props;
const slug = Astro.url.pathname;
---

<BaseLayout {...props}>
  <main class='content-page relative prose prose-lg lg:prose-xl bg-background-base rounded mt-11 lg:mt-14'>
    <a href={`${import.meta.env.BASE_URL}courses/`} class="link absolute left-0 -top-9 px-4 lg:px-8 text-base">&larr; Courses</a>
    <h1>{pageTitle}</h1>
    <slot />
    {frontmatter?.quiz && <Quiz slug={slug} client:only='vue' label={frontmatter.quiz.label} options={frontmatter.quiz.options} />}
  </main>
</BaseLayout>
